<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout.html}"
      th:with="currentPage=#{label.login}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body class="align">
<div layout:fragment="content">
    <div th:if="${param.error}" class="error-message">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="error-message">
        You have been logged out.
    </div>
    <div class="login">

        <header class="login__header">
            <h2><svg class="icon">
                <use xlink:href="#icon-lock" />
            </svg>Aceder à CMD</h2>
        </header>
    <form th:action="@{/login}" class="login__form" method="post">

        <div>
            <label for="user">Username</label>
            <input type="text" id="user" name="username" placeholder="Username" required />
        </div>
        <div>
            <label for="password">Password</label>

            <input type="password" id="password" name="password" placeholder="Password" required />
        </div>
        <div>
        <input type="submit" value="Log In" />
        </div>
    </form>
</div>
    <svg xmlns="http://www.w3.org/2000/svg" class="icons">

        <symbol id="icon-lock" viewBox="0 0 448 512">
            <path d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z" />
        </symbol>

    </svg>
</div>
</body>
</html>
